images

#Bank-api
bank-api/node_modules
bank-api/.env

#Ecom-api
ecom-api/node_modules
ecom-api/.env

#Supplier-api
supplier-api/node_modules
supplier-api/.env
supplier-api/src/images


what-to-do.txt